# Task 5 : Remove Duplication


● Purpose of task: Identify and remove duplicate values in a dataset.
● Data Source:https://www.kaggle.com/datasets/uciml/iris?select=Iris.csv

In [44]:
# importing the libraries 
import pandas as pd
import numpy as np

In [45]:
data = pd.read_csv('Iris.csv')

# EDA

In [46]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [47]:
data.shape

(150, 6)

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [49]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [50]:
# checking the null values
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [51]:
# checking the duplicate values 
data.duplicated().sum()

0

In [52]:
# droping the duplicate 
data.drop_duplicates(inplace= True)
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [53]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [54]:
data['SepalLengthCm'].duplicated().sum()

115

 as we can see there are dupicate values present in the column so will drop those duplicate values

In [55]:
data['SepalLengthCm'].drop_duplicates()

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
8      4.4
11     4.8
13     4.3
14     5.8
15     5.7
27     5.2
33     5.5
41     4.5
48     5.3
50     7.0
51     6.4
52     6.9
54     6.5
56     6.3
58     6.6
61     5.9
62     6.0
63     6.1
64     5.6
65     6.7
68     6.2
76     6.8
102    7.1
105    7.6
107    7.3
109    7.2
117    7.7
130    7.4
131    7.9
Name: SepalLengthCm, dtype: float64

In [56]:
data['SepalWidthCm'].duplicated().sum()

127

In [57]:
data[data['SepalWidthCm'].duplicated()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
7,8,5.0,3.4,1.5,0.2,Iris-setosa
9,10,4.9,3.1,1.5,0.1,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [58]:
data['SepalWidthCm'].drop_duplicates()

0     3.5
1     3.0
2     3.2
3     3.1
4     3.6
5     3.9
6     3.4
8     2.9
10    3.7
14    4.0
15    4.4
18    3.8
23    3.3
32    4.1
33    4.2
41    2.3
54    2.8
57    2.4
59    2.7
60    2.0
62    2.2
69    2.5
79    2.6
Name: SepalWidthCm, dtype: float64

In [59]:
data['PetalLengthCm'].duplicated().sum()

107

In [60]:
data['PetalLengthCm'].drop_duplicates()

0      1.4
2      1.3
3      1.5
5      1.7
11     1.6
13     1.1
14     1.2
22     1.0
24     1.9
50     4.7
51     4.5
52     4.9
53     4.0
54     4.6
57     3.3
59     3.9
60     3.5
61     4.2
64     3.6
65     4.4
67     4.1
70     4.8
74     4.3
77     5.0
80     3.8
81     3.7
83     5.1
98     3.0
100    6.0
102    5.9
103    5.6
104    5.8
105    6.6
107    6.3
109    6.1
111    5.3
112    5.5
117    6.7
118    6.9
120    5.7
131    6.4
139    5.4
145    5.2
Name: PetalLengthCm, dtype: float64

In [61]:
data['PetalWidthCm'].duplicated().sum()

128

In [62]:
data['PetalWidthCm'].drop_duplicates()

0      0.2
5      0.4
6      0.3
9      0.1
23     0.5
43     0.6
50     1.4
51     1.5
53     1.3
56     1.6
57     1.0
69     1.1
70     1.8
73     1.2
77     1.7
100    2.5
101    1.9
102    2.1
104    2.2
110    2.0
114    2.4
115    2.3
Name: PetalWidthCm, dtype: float64

# Thank You

Task performed by : Bhargavi marathe

-linkedin:www.linkedin.com/in/bhargavi-marathe-17369525a
-github: https://github.com/bhargavi-mar/Technohacks-internship