# Task 2 : Calculate summary statistics

 Purpose of task : to find the summary statistics (like mean, median, mode, standard deviation) for a dataset

data scorce: https://www.kaggle.com/code/kartikverma13/video-games-sales-eda

In [74]:
# importing the libraries 
import pandas as pd
import numpy as np

In [75]:
data = pd.read_csv('video_game.csv')

In [76]:
data.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41,29,4,8,83
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29,4,7,1,40
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,16,13,4,3,36
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,16,11,3,3,33
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11,9,10,1,31

In [77]:
data.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1994,1996,ATV: Quad Power Racing,PS,2000.0,Racing,Acclaim Entertainment,1,0,0,0,1
1995,1997,Disney Fairies: Tinker Bell and the Lost Treasure,DS,2009.0,Adventure,Disney Interactive Studios,1,0,0,0,1
1996,1998,Mega Man X4,PS,1996.0,Action,Virgin Interactive,0,0,0,0,1
1997,1999,Naruto: Clash of Ninja 2,GC,2003.0,Fighting,Nintendo,0,0,0,0,1
1998,2000,Dance Dance Revolution SuperNOVA,PS2,2006.0,Simulation,Konami Digital Entertainment,1,0,0,0,1

In [78]:
data.shape # to check the no of rows and column present in the file

(1999, 11)

In [79]:
data.info() # to check the not null values and check the datatype of the column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          1999 non-null   int64
 1   Name          1999 non-null   object
 2   Platform      1999 non-null   object
 3   Year          1978 non-null   float64
 4   Genre         1999 non-null   object
 5   Publisher     1996 non-null   object
 6   NA_Sales      1999 non-null   int64
 7   EU_Sales      1999 non-null   int64
 8   JP_Sales      1999 non-null   int64
 9   Other_Sales   1999 non-null   int64
 10  Global_Sales  1999 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 171.9+ KB

In [80]:
data.columns # to check the no of column present in the dataset

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [81]:
data.isnull().sum() # to chekc the null values

Rank             0
Name             0
Platform         0
Year            21
Genre            0
Publisher        3
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [82]:
data.dropna(inplace = True) # drop the null values

In [83]:
data.isnull().sum() # after dropping the nulll values now there are

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [84]:
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41,29,4,8,83
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29,4,7,1,40
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,16,13,4,3,36
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,16,11,3,3,33
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11,9,10,1,31
...,...,...,...,...,...,...,...,...,...,...,...
1994,1996,ATV: Quad Power Racing,PS,2000.0,Racing,Acclaim Entertainment,1,0,0,0,1
1995,1997,Disney Fairies: Tinker Bell and the Lost Treasure,DS,2009.0,Adventure,Disney Interactive Studios,1,0,0,0,1
1996,1998,Mega Man X4,PS,1996.0,Action,Virgin Interactive,0,0,0,0,1
1997,1999,Naruto: Clash of Ninja 2,GC,2003.0,Fighting,Nintendo,0,0,0,0,1
1998,2000,Dance Dance Revolution SuperNOVA,PS2,2006.0,Simulation,Konami Digital Entertainment,1,0,0,0,1

In [85]:
data.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,1977.000000,1977.000000,1977.000000,1977.000000,1977.000000,1977.000000,1977.000000
mean,999.697521,2004.662114,1.406171,0.781487,0.324734,0.149216,2.786039
std,577.934860,7.233885,2.016988,1.306245,0.822114,0.540365,3.758021
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,499.000000,2001.000000,1.000000,0.000000,0.000000,0.000000,1.000000
50%,1000.000000,2006.000000,1.000000,1.000000,0.000000,0.000000,2.000000
75%,1498.000000,2010.000000,2.000000,1.000000,0.000000,0.000000,3.000000
max,2000.000000,2016.000000,41.000000,29.000000,10.000000,11.000000,83.000000

1. To find the mean

In [86]:
data[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']].mean()

NA_Sales        1.406171
EU_Sales        0.781487
JP_Sales        0.324734
Other_Sales     0.149216
Global_Sales    2.786039
dtype: float64

2. to find the median

In [87]:
data[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']].median()

NA_Sales        1.0
EU_Sales        1.0
JP_Sales        0.0
Other_Sales     0.0
Global_Sales    2.0
dtype: float64

3. to find the standard deviation

In [89]:
data[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']].std()

NA_Sales        2.016988
EU_Sales        1.306245
JP_Sales        0.822114
Other_Sales     0.540365
Global_Sales    3.758021
dtype: float64

# Thank You
Task performed by: Bhargavi marathe

Linkedin : www.linkedin.com/in/bhargavi-marathe-17369525a

Github:https://github.com/bhargavi-mar